@use "../../styles/abstracts/mixins" as *;

.about-hero {
    padding-top: var(--space-5xl);

    background: var(--color-white);

    overflow: hidden;

    @include respond(md) {
        padding-top: var(--space-6xl);
    }
}

.about-hero__content {
    display: flex;

    max-width: 46rem;

    flex-direction: column;

    align-items: flex-start;


    padding-bottom: var(--space-3xl);

    text-align: left;

    @include respond(md) {
        padding-bottom: var(--space-4xl);
    }
}

.about-hero__title {
    margin: 0 0 var(--space-lg);

    font-weight: var(--fw-medium);

    line-height: var(--lh-tight);

    letter-spacing: var(--ls-tight);

    color: var(--color-black);

    @include respond(md) {
        margin-bottom: var(--space-2xl);

         
    }
}

.about-hero__description {
    max-width: 50rem;

    margin: 0;

    color: var(--color-black);

    @include respond(md) {
    }
}

.about-hero__video-wrap {

    position: relative;

    width: 100%;

    aspect-ratio: 16 / 9;

    overflow: hidden;

    background: var(--color-black);

    @include respond(md) {
        aspect-ratio: 21 / 9;
    }
}

.about-hero__video-overlay {
    position: absolute;

    inset: 0;

    z-index: 1;

    background: rgb(0,0,0, 0.2);
}

.about-hero__video {
    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover;
}
