@use "../abstracts/mixins" as *;

body {
    background: var(--color-bg);

    color: var(--color-text-primary);

    font-family: var(--font-body);

    line-height: var(--lh-body);

    overflow-x: hidden;
}


/* =====================================================
   CONTAINER
===================================================== */

.container {
    width: 100%;

    margin-inline: auto;

    padding-inline: var(--container-padding);


    @include respond(2xl) {

        max-width: 1600px;

    }
}




/* =====================================================
   SECTION SPACING
===================================================== */

section {
    position: relative;
}


/* =====================================================
   MEDIA
===================================================== */

video,
img {
    width: 100%;
    height: auto;
}


/* =====================================================
   SELECTION
===================================================== */

::selection {
    background: var(--color-accent);

    color: var(--color-white);
}


/* =====================================================
   SCROLLBAR
===================================================== */

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-border-strong);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-secondary);
}
