*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;

    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

img {
    object-fit: cover;
}

button,
input,
textarea,
select {
    font: inherit;

    border: none;

    outline: none;

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }

    background: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;

    color: inherit;
}

ul,
ol {
    list-style: none;
}