h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);

    font-weight: var(--fw-medium);

    line-height: var(--lh-heading);

    letter-spacing: var(--ls-tight);

    color: var(--color-text-primary);
}


/* =====================================================
   HEADINGS
===================================================== */

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}


/* =====================================================
   BODY TEXT
===================================================== */

p {
    font-family: var(--font-body);

    font-size: var(--fs-body);

    font-weight: var(--fw-regular);

    line-height: var(--lh-body);

    color: var(--color-text-secondary);
}


/* =====================================================
   SPAN
===================================================== */

span {
    font-family: var(--font-body);
    font-size: var(--fs-body-sm);
}


/* =====================================================
   BUTTON
===================================================== */

button {
    font-family: var(--font-body);

    font-size: var(--fs-body);

    font-weight: var(--fw-medium);
}